/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background design */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Content box */
.container {
    background: white;
    width: 450px;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}

/* Title */
.bill {
    font-size: 32px;
    color: #005bea;
    margin-bottom: 10px;
}

/* Subtitle */
.subtitle {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
}

/* Buttons */
.btn-group {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}

.login {
    background: #005bea;
    color: white;
}

.register {
    background: #00c6fb;
    color: white;
}

/* Hover effects */
.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}
